<!DOCTYPE html>
<html lang="en-us">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="/images/logo3.png" type="image/jpg" sizes="16x16">
        <title>Home - Deluxe Siding construction </title>
        <link rel=”canonical” href=”https://deluxesiding.com/”/>
        <meta name="keywords" content="siding ,construction , new jersey , roofing">
        <meta name="description" content="siding construction company , we offer siding,roofing,carpentry more! in the new jesery and PA areas">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name=”robots” content=”index, follow”>
        <link rel="apple-touch-icon" href="/images/apple.png" sizes="16x16">
        <link rel="stylesheet" href="/css/web2.css" type="text/css">
        <script defer src="https://friconix.com/cdn/friconix.js"> </script>
    </head>
    <body>
  <div class="container">
     <div class="nav">
       <nav class="nav-container">
         <div class="bar-info">
           <p class="p1"><i class="fi-xnsrxl-phone-solid "></i>PA 609-349-4596 / NJ 609-510-0354</p>
           <p class="p1"><i class="fi-xnsuxl-map-marker-solid "></i>48 Patterson ave , Hamilton NJ 08610</p>
           <p class="p1"><i class="fi-xnluxl-envelope "></i>contactdeluxesiding@gmail.com</p>
           <p class="p1"><i class="fi-xnsuxl-instagram icon1"></i><i class="fi-cnsuxl-facebook-circle "></i></p>
         </div>
         <ul class="nav-ul">
          <li class="li-elements"><a href="#">HOME</a></li>
          <li class="li-elements"><a href="#">SERVICES</a></li>
          <li class="li-elements"><a href="#">REMODELING</a></li>
          <li class="li-elements"><a href="#">ABOUT</a></li>
          <li class="li-elements"><a href="#">ESTIMATES</a></li>
          <li class="li-elements"><a href="#">CONTACT US</a></li>
          <li class="li-elements"><a href="#">PROJECTS</a></li>
         </ul>
        </nav>
     </div>
     <div class="first-section"></div>
     <div class="second-section"></div>
     <div class="third-section"></div>
     <div class="four-section"></div>
     <div class="fift-section"></div>
     <footer class="footer"></footer>
  </div>
  
    </body>
</html>